<nav class='navbar navbar-default navbar-fixed-top navbarpos'>
	<div class='container-fluid'>
		<a class='navbar-brand txtcolor'>{{pageTitle}} <span
			class="glyphicon glyphicon-shopping-cart txtcolor"></span></a>
		<div class="input-group pull-right col-md-3 searchboxpos">
			<input type="text" class="form-control" placeholder="Search" name="q" [(ngModel)]="listFilter" (change)="searchtext()">
			<div class="input-group-btn">
				<button class="btn btn-default">
					<i class="glyphicon glyphicon-search"></i>
				</button>
			</div>
		</div>

		<!-- Displays the selected Items in the cart along with price -->
		<div class="pull-right txtcolor cartpos">
			<span class="glyphicon glyphicon-shopping-cart"></span> <a
				[routerLink]="['cart']" class="txtcolor">{{selectedItems}}&nbsp;items</a>
			<span>, {{total | currency:'USD':'symbol':'1.2-2'}} </span>
		</div>
	</div>
</nav>
<br />
<br />
<!-- Displays a carousel with the given images -->
<div class="container" class="carouselpos">
	<div id="carousel-example-generic" class="carousel slide carouselheight" data-ride="carousel" data-interval="3000">
		<ol class="carousel-indicators">
			<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
			<li data-target="#carousel-example-generic" data-slide-to="1"></li>
			<li data-target="#carousel-example-generic" data-slide-to="2"></li>
		</ol>
		<div class="carousel-inner">
			<div class="item active">
				<img src="assets/imgs/carousel_smart_phone.jpg" alt="First slide" style="min-width:100%;height:350px;">

			</div>
			<div class="item carouselimgpos">
				<img src="assets/imgs/carousel1.jpg" alt="Second slide" style="min-width:100%;height:350px;">

			</div>
			<div class="item">
				<img src="assets/imgs/tablet_blue_stylus.jpg" alt="Third slide" style="min-width:100%;height:350px;">
			</div>
		</div>
		<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
			<span class="glyphicon glyphicon-chevron-left"></span>
		</a>
		<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
			<span class="glyphicon glyphicon-chevron-right"></span>
		</a>
	</div>

	<!-- Displays two tabs called Tablets and Mobiles -->
	<div class='panel with-nav-tabs panel-primary noborder'>
		<div class='panel-heading noborder bgcolor'>
			<ul class="nav nav-tabs noborder">
				<li class="active tabpos"><a  (click)="tabselect('tablet')" data-toggle="tab"><i
					class="fa fa-tablet fa-3x" aria-hidden="true"></i>
					<div>Tablets</div></a></li>
				<li class="tabpos"><a (click)="tabselect('mobile')"  data-toggle="tab"><i
					class="fa fa-mobile fa-3x" aria-hidden="true"></i>
					<div>Mobiles</div></a></li>
			</ul>
		</div>
		<div class='panel-body'>
			<div class="tab-content">
				<!-- Filtering dropdown -->
				<div class="tab-pane fade in active" id="tabprimary">
					<div class="btn-group">
						<button type="button" class="btn btn-default">Filter</button>
						<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
						<span class="caret"></span> <span class="sr-only">Toggle
							Dropdown</span>
					</button>
						<ul class="dropdown-menu multi-column columns-3 noclose">
							<div class="row vdivide">
								<div class="col-md-4">
									<ul class="multi-column-dropdown noclose">
										<h4>Manufacturer</h4>
										<li *ngFor="let manufac of manufacturers">
											<input type="checkbox" [ngModel]="manufac.checked" (change)="filter(manufac)"> <label>
											{{manufac.id}} </label></li>
									</ul>
								</div>
								<div class="col-md-4">
									<ul class="multi-column-dropdown noclose">
										<h4>OS</h4>
										<li *ngFor="let ostypes of os">
											<input type="checkbox" [ngModel]="ostypes.checked" (change)="filter(ostypes)">
											<label> {{ostypes.id}}</label></li>
									</ul>
								</div>
								<div class="col-md-4">
									<ul class="multi-column-dropdown noclose">
										<h4>Price Range</h4>
										<li *ngFor="let price of price_range">
											<input type="checkbox" [ngModel]="price.checked" (change)=filter(price)> <label>{{ price.id}} </label></li>
									</ul>
								</div>
							</div>
						</ul>
					</div>
					<span *ngIf="chkmanosprice.length> 0"> {{products.length}}
					results</span>

					<!-- sort dropdown -->
					<div class="pull-right">
						<span>Sort By </span>
						<select [ngModel]="sortoption" (change)="onChange($event.target.value)">
							<option value="popularity">Popularity</option>
							<option value="pricelh">Price - Low to High</option>
							<option value="pricehl">Price - High to Low</option>
						</select>
					</div>

					<!-- Displays the products data -->
					<div *ngIf='products && products.length'>
						<div class="row" *ngFor='let product of products | orderBy:sortoption ; let i = index' [hidden]="(i%4)>0">
							<div class="col-xs-3">
								<span class="thumbnail text-center">
								<div>
									<img [src] ='product.imageUrl' [title]='product.productName'
										[style.width.px]='imageWidth' [style.height.px]='imageHeight' [style.margin.px]='imageMargin'>
								</div>
								<div class="caption">
									<div>
										<a [routerLink]="[product.productId]" >
											{{product.productName}} </a>
									</div>
									<div>{{ product.price | currency:'USD':'symbol':'1.2-2'}}</div>
									<div></div>
									<app-rating  class="ratingcolor" [rate]='product.rating'></app-rating>									
									<div>
										<button (click)="addCart(product.productId)"
											class="btn btn-primary">Add to Cart</button>
									</div>
								</div>
							</span>
							</div>
							<div class="col-xs-3">
								<div *ngIf="products[i+1]" class="thumbnail text-center">
									<div>
										<img [src]='products[i+1].imageUrl' [title]='products[i+1].productName' [style.width.px]='imageWidth' [style.height.px]='imageHeight'
										 [style.margin.px]='imageMargin'>
									</div>
									<div class="caption">
										<div>
											<a [routerLink]="[products[i+1].productId]">
											{{products[i+1].productName}} </a>
										</div>
										<div>{{ products[i+1].price | currency:'USD':'symbol':'1.2-2'}}
										</div>
										<div></div>
										<app-rating class="ratingcolor" [rate]='products[i+1].rating'></app-rating>
										<div></div>
										<div>
											<button (click)="addCart(products[i+1].productId)" class="btn btn-primary">Add to Cart</button>
										</div>
									</div>
								</div>
							</div>
							<div class="col-xs-3">
								<div *ngIf="products[i+2]" class="thumbnail text-center">
									<div>
										<img [src]='products[i+2].imageUrl' [title]='products[i+2].productName' [style.width.px]='imageWidth' [style.height.px]='imageHeight'
										 [style.margin.px]='imageMargin'>
									</div>
									<div class="caption">
										<div>
											<a [routerLink]="[products[i+2].productId]">
											{{products[i+2].productName}} </a>
										</div>
										<div>{{ products[i+2].price | currency:'USD':'symbol':'1.2-2'}}
										</div>
										<div></div>
										<app-rating class="ratingcolor" [rate]='products[i+2].rating'></app-rating>
										<div></div>
										<div>
											<button (click)="addCart(products[i+2].productId)" class="btn btn-primary">Add to Cart</button>
										</div>
									</div>
								</div>
							</div>
							<div class="col-xs-3">
								<div *ngIf="products[i+3]" class="thumbnail text-center">
									<div>
										<img [src]='products[i+3].imageUrl' [title]='products[i+3].productName' [style.width.px]='imageWidth' [style.height.px]='imageHeight'
										 [style.margin.px]='imageMargin'>
									</div>
									<div class="caption">
										<div>
											<a [routerLink]="[products[i+3].productId]">
											{{products[i+3].productName}} </a>
										</div>

										<div>{{ products[i+3].price | currency:'USD':'symbol':'1.2-2'}}
										</div>
										<div></div>
										<app-rating class="ratingcolor" [rate]='products[i+3].rating'></app-rating>
										<div></div>
										<div>
											<button (click)="addCart(products[i+3].productId)" class="btn btn-primary">Add to Cart</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<br/><br/>
			</div>
		</div>
	</div>
</div>