body{
font-family: Arial, Helvetica, sans-serif;
background-color:rgb(239, 252, 205)
}

footer {
  font-family: Montserrat;
  color: rgb(153, 145, 145)
}
#footer {
  font-family: Montserrat;
  font-size: 16px;
  text-align: center;
  color: rgb(153, 145, 145)
}
#container {
  margin-top:20px;
  border: 2px solid black;
  width: 999px;
  height: 270px;
  border-radius: 20px;
  align-content: 30px;
  margin-left: auto;
  margin-right: auto;
}

#container h3{
  padding-left: 20px;
}
hr {
  margin-top: 100px;
  border: 0.4px solid rgb(211, 213, 230);
  size: 90%
}
#heading{
  text-align: center;
  padding-top: 10px
}
#title,p{
  text-align: center;
}
button {
  font-size: 20px;
  color: red;
}
#search{
    float: right;
    margin-top: -60px;
}
#search input{
  padding: 6px;
  border: none;
  font-size: 15px;
}
#customize{
  padding-left: 40px
}
#customize input{
  font-size: 15px;
  border: 1px solid rgb(165, 163, 163);
  border-radius: 4px;
  box-sizing: border-box;
  height: 30px;
  padding-left: 25px;
  padding-right:35px;
  margin-right: 50px
}
#customize form{
  padding-top:30px
}
#customize button{
  margin-top:60px
}
#container button {
  margin-top: 40px;
  font-size: 20px;
  color: red;
}
