<!-- Welcome page -->
<div class="container container-styles">
	<div class="panel panel-primary">
		<div class="panel-heading">{{pageTitle}}</div>
		<div class="panel-body">
			<div class="row">
				<span class="img-responsive center-block logo-styles">
					<span class="glyphicon glyphicon-shopping-cart"> </span>
				</span>
				<div id="div1" class="shadow title-styles">
					mCart</div>
					
			</div>
			<br />
			<div class="row">
				<div class="text-center text-styles">An online app to purchase mobile gadgets</div>
			</div>
		</div>
	</div>
</div>